.social-networks__list {
  display: flex;
  justify-content: center;
}

.social-networks__item {
  height: 44px;
  width: 44px;
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.socials-networks__link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition: background-color var(--transition-duration) var(--cubic-bezier),
    color var(--transition-duration) var(--cubic-bezier);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
  }
}

.socials-networks__icon {
  fill: currentColor;
}
