.footer-subscribe__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.footer-subscribe__container {
  @include desktop {
    display: flex;
  }
}

.footer-subscribe__input {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding-left: 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  @include tablet {
    width: 450px;
  }
  @include desktop {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

// .footer-subscribe__button {
//   margin: 0 auto;
//   align-items: center;
//   justify-content: center;
// }

.footer-subscribe__icon {
  margin-left: 10px;
}
