:root {
  --logo-color: #000000;
  --accent-color: #2196f3;
  --accent-secondary-color: #188ce8; 
  --primary-main-color: #000000;
  --primary-text-color: #757575;
  --primary-white-color: #ffffff;
  --secondary-text-color: #212121;
  --background-head-color: #f5f4fa;
  --container-border-color: #eeeeee;
  --transition-duration: 250ms;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}