.page-footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 100%;
  margin: 0 auto;

  &__container {
    display: flex;
    flex-wrap: wrap;
    @include desktop {
      flex-wrap: nowrap;
    }
  }
}

.address__maps {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  @include transition(color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
  @include desktop {
    margin-bottom: 9px;
  }
}

.address__list {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  @include transition(color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.page-footer__address {
  text-align: center;
  width: 100%;
  margin-bottom: 60px;
  
  @include tablet {
    width: 50%;
    margin-right: auto;
  }
  @include desktop {
    width: 100%;
    text-align: left;
    margin-bottom: 0;
  }
}
.address__contacts {
  margin-top: 20px;
  color: var(--primary-white-color);
  @include desktop {
    margin-right: 70px;
  }
}

.footer__join {
  text-align: center;
  width: 100%;
  margin-bottom: 60px;
  @include tablet {
    width: 50%;
    margin-left: auto;
  }
  @include desktop {
    margin-right: 93px;
    text-align: left;
  }
}

.footer-join__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.footer-join__link {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--primary-white-color);
}

.footer-join__icon {
  fill: inherit;
}

.footer__subscribe {
  text-align: center;
  width: 100%;
  @include desktop {
    margin-left: auto;
    text-align: left;
  }
}

.footer-subscribe__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.footer-subscribe__container {
  @include desktop {
    display: flex;
  }
}

.footer-subscribe__input {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding-left: 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  @include tablet {
    width: 450px;
  }
  @include desktop {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.footer-subscribe__button {
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  display: flex;
  @include transition;
  &:hover,
  &:focus {
    background-color: var(--accent-secondary-color);
  }
}

.footer-subscribe__icon {
  margin-left: 10px;
}