.page-header {
  border-bottom: 1px solid #ececec;
  @media screen and (max-width: 767px) {
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
  }
  > .container {
    display: flex;
    align-items: center;
  }
}

.logo__link {
  @include tablet {
    margin-right: 88px;
  }
  @include desktop {
    margin-right: 93px;
  }
}

.contact__header {
  margin-left: auto;
}

.navigation__menu {
  display: none;
  @include tablet {
    display: flex;
  }
}

.navigation__link {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  @include transition(color);
  position: relative;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.navigation__link.current {
  color: var(--accent-color);
}

.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.contact {
  display: none;
  @include tablet {
    display: flex;
    flex-wrap: wrap;
  }
}

.contact__item {
  display: block;
  @include desktop {
    display: flex;
  }
}

.contact__item:not(:last-child) {
  margin-bottom: 10px;
  @include desktop {
    margin-right: 50px;
    margin-bottom: 0;
  }
}

.contact__link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  padding-left: 96px;
  color: var(--primary-text-color);
  @include transition(color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @include desktop {
    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 0;
  }
}

.contact__icon {
  fill: currentColor;
  margin-right: 8px;
  @include desktop {
    margin-right: 10px;
  }
}