.navigation__menu--open-button {
  display: flex;
  padding: 0;
  width: 40px;
  height: 40px;
  align-items: center;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  margin-left: auto;
  @include tablet {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  background-color: var(--primary-white-color);
  width: 100vw;
  height: 100vh;
  z-index: 1;
  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  @include tablet {
    display: none;
  }
}
.mobile-menu__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
  margin: 0 auto;
  overflow: auto;
}

.mobile-menu__link--current{
  color: var(--accent-color);
  
}

.mobile-menu__close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  color: var(--secondary-text-color);
  background-color: transparent;
  border: transparent;
  padding: 0;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  &:hover,
  &:focus {
    color: var(--accent-color);
    outline-color: var(--accent-color);
  }
}
.mobile-menu__close-icon {
  fill: currentcolor;
}

.mobile-menu__list {
  margin-bottom: 70px;
}
.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link{
  position: relative;
  font-weight: 500;
  text-decoration: none;
  font-size: 40px;
  line-height: 1.17px;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  &:hover,
  &:focus {
    width: 100%;
    border-bottom: 4px solid var(--accent-color);
    border-radius: 2px;
  }
}

.mobile-contacts {
  margin-bottom: 64px;
}
.mobile-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-contacts__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.telephone-mobile {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.mobile-social {
  display: flex;
  gap: 20px;
}
.mobile-social__item {
  position: relative;
}
.mobile-social__item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -10px;
  width: 1px;
  height: 22px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
@media screen and (max-width: 767px) {
  .navigation__menu,
  .contact {
    display: none;
  }
}

@include tablet {
  .navigation__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
}