.our-team {
  background-color: var(--background-head-color);
  margin: 0 auto;
}

.our-team__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.our-team__item {
  background-color: var(--primary-white-color);
  width: 100%;
  @include tablet {
    flex-basis: calc((100% - 30px) / 2);
  }
  @include desktop {
    flex-basis: calc((100% - 90px) / 4);
  }
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.our-team__container {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.our-team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.our-team__text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 16px;
}